![](Capture37.png)

Author : Shanmugaraj Kamaraj

In [72]:
!pip install pandas
# To install pandas

Requirement already satisfied: pandas in c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: six>=1.5 in c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

For data manipulation, analysis, data structures, operations for manipulating numerical tables and, time series - We can use Pandas which is built with Numpy

Written in : Python, Cython, C

Author : Wes McKinney

In [73]:
There are two data structure in pandas, such as
1. Series - 1 dimension data structure
2. DataFrame - 2 dimension(multi-dimensional) data structure
3. Pannel - 3 dimension

SyntaxError: invalid syntax (<ipython-input-73-51793b295913>, line 1)

The main types stored in pandas objects are float, int, bool, datetime64[ns], timedelta[ns], and object. In addition these dtypes have item sizes, e.g. int64 and int32.

By default integer types are int64 and float types are float64, REGARDLESS of platform (32-bit or 64-bit). The following will all result in int64 dtypes.

Numpy, however will choose platform-dependent types when creating arrays. The following WILL result in int32 on 32-bit platform.

![](Capture38.png)

In [2]:
import pandas as pd
import numpy as np

series = pd.Series(1, index =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9,]) 

series

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
dtype: int64

In [26]:
data = np.array(['g','o','o','d','s'])
 
series = pd.Series(data)
print(series)
print(type(series))

0    g
1    o
2    o
3    d
4    s
dtype: object
<class 'pandas.core.series.Series'>

In [27]:
lst = [1, 3, 4, 5]

series = pd.Series(lst, index = ['one', 'three', 'four', 'five'])
print(series)
print(type(series))

one      1
three    3
four     4
five     5
dtype: int64
<class 'pandas.core.series.Series'>

In [77]:
lst = [1, 3, 4, 5]

series = pd.Series(lst, index = ['one', 'three', 'four', 'five'], dtype = float)
print(series)
print(type(series))

one      1.0
three    3.0
four     4.0
five     5.0
dtype: float64
<class 'pandas.core.series.Series'>

![](Capture39.png)

In [29]:
dictionary = {'one':1, 'two':2, 'three':3}
series = pd.Series(dictionary, )
print(series)
print(type(series))

one      1
two      2
three    3
dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
dictionary = {'one':1, 'two':2, 'three':3}
series = pd.Series(dictionary, index = ['one', 'three', 'four', 'five'], dtype = float)
print(series)
print(type(series))

one      1.0
three    3.0
four     NaN
five     NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [31]:
# In the above code, the index four and, five values are NaN, which means empty or missing value
# The dictionary contains 'two' but it is not saved in the pandas series, becaues the index 'two' is not give in pd.Series

![](Capture40.png)

In [32]:
data = [['length', 150], ['height', 200], ['weight', 90], ['size', np.nan]] 
# np.nan represent that size value is not known or missing
  
df = pd.DataFrame(data, columns = ['Characteristic', 'Value']) 
  
df

  Characteristic  Value
0         length  150.0
1         height  200.0
2         weight   90.0
3           size    NaN

In [46]:
data = [150, 200, 90, np.nan] 
# np.nan represent that size value is not known or missing
  
df = pd.DataFrame(data, columns = ['Value']) 

print(df)
print(df.sum())

   Value
0  150.0
1  200.0
2   90.0
3    0.0
Value    440.0
dtype: float64

In [49]:
data = [150, 200, None, 90] 
# None represent that value is nothing
  
df = pd.DataFrame(data, columns = ['Value']) 
df.fillna(value=0, inplace=True) # fill the empty value to 0

print(df)

   Value
0  150.0
1  200.0
2    0.0
3   90.0

In [54]:
dictionary = {'one':[1, 1, 1], 'two':[2, 2, 2], 'three':[3, 3, 3]}

df = pd.DataFrame(dictionary, index = ['value 1', 'value 2', 'value 3']) 

df

         one  two  three
value 1    1    2      3
value 2    1    2      3
value 3    1    2      3

In [61]:
lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

lst = list(zip(lst1, lst2))

print(lst)

df = pd.DataFrame(lst, columns = ['Value 0', 'Value 1'], index = ['Zero', 'One', 'Two', 'Three'])  
df

[(1, 5), (2, 6), (3, 7), (4, 8)]

       Value 0  Value 1
Zero         1        5
One          2        6
Two          3        7
Three        4        8

In [68]:
dictionary1 = {'one':1, 'two':2, 'three':3}
series1 = pd.Series(dictionary1, dtype = float)
print(series1)

print()

dictionary2 = {'four':4, 'five':5, 'six':6}
series2 = pd.Series(dictionary2, dtype = float)
print(series2)

one      1.0
two      2.0
three    3.0
dtype: float64

four    4.0
five    5.0
six     6.0
dtype: float64

In [71]:
series = list(zip(series1, series2))
df = pd.DataFrame(series)
df

     0    1
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [75]:
d1 =[[1, 2, 3, 4], [1, 1, 1]]
d2 =[[5, 6, 7, 8], [2, 2, 2]]

Data = [d1, d2]

df = pd.DataFrame(Data) 

df

              0          1
0  [1, 2, 3, 4]  [1, 1, 1]
1  [5, 6, 7, 8]  [2, 2, 2]

In [76]:
dictionary1 = {'one':1, 'two':2, 'three':3}
series1 = pd.Series(dictionary1, dtype = float)
print(series1)
print(type(series1),"\n")

print(series1.to_frame()) # Change from series to dataframe
print(type(series1.to_frame()))

one      1.0
two      2.0
three    3.0
dtype: float64
<class 'pandas.core.series.Series'>

         0
one    1.0
two    2.0
three  3.0
<class 'pandas.core.frame.DataFrame'>

![](Capture41.png)

In [83]:
dates = pd.date_range('2020-01-01', periods=6, freq='Y') 
# start date, periods = number of dates to generate, frequency in Date('D'), Month('M'), Year('Y')

print(dates)
print(type(dates))

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [82]:
dates = pd.date_range('2020-01-01', '2022-01-01', freq='Y') 
# start date, periods = number of dates to generate, frequency in Date('D'), Month('M'), Year('Y')

dates

DatetimeIndex(['2020-12-31', '2021-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [63]:
pd.Timedelta(6,unit='h')

Timedelta('0 days 06:00:00')

In [64]:
pd.Timedelta(6,unit='D')

Timedelta('6 days 00:00:00')

In [69]:
pd.Timedelta('1 Y 2 M 3 W 4 days 5 hours 6 minutes 7 seconds')

Timedelta('390 days 10:57:19')

![](Capture42.PNG)

In [3]:
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
p

c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: Panel() takes no arguments

In [9]:
p = pd.Panel()
p

c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

In [165]:
dataflair_pan = pd.Panel(np.random.randn(4,5,4), items=['1' ,'2' ,'3', '4'],major_axis=pd.date_range('1/2/2010', periods=5),minor_axis=['J','K','L','M'])

c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments

In [10]:
dir(pd.__getattr__)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### REAd From CSV File

In [39]:
df = pd.read_csv('FuelConsumptionCo2.csv') # This csv file contains the Co2 emission details from each car type
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [87]:
df.head() # Returns the first few columns from the data set

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [88]:
df.tail() # Returns the last few column from the data set

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [89]:
df.describe() # Describes the given csv(data set)

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [138]:
print(df['CYLINDERS'].count())
print(df['CYLINDERS'].mean())
print(df['CYLINDERS'].std())
print(df['CYLINDERS'].max())
print(df['CYLINDERS'].min())
print(df['CYLINDERS'].sum())

1067
5.794751640112465
1.7974472750409638
12
3
6183

In [119]:
df.shape

(1067, 13)

In [120]:
df.size

13871

In [122]:
df.ndim # number of dimension in the given data set

2

In [124]:
print(df.values) # Returns the data set as numpy array
print()
print(type(df.values))

[[2014 'ACURA' 'ILX' ... 8.5 33 196]
 [2014 'ACURA' 'ILX' ... 9.6 29 221]
 [2014 'ACURA' 'ILX HYBRID' ... 5.9 48 136]
 ...
 [2014 'VOLVO' 'XC70 AWD' ... 11.8 24 271]
 [2014 'VOLVO' 'XC70 AWD' ... 11.3 25 260]
 [2014 'VOLVO' 'XC90 AWD' ... 12.8 22 294]]

<class 'numpy.ndarray'>

In [126]:
print(df['CYLINDERS'].values)
print(type(df['CYLINDERS'].values))

[4 4 4 ... 6 6 6]
<class 'numpy.ndarray'>

In [127]:
df.axes

[RangeIndex(start=0, stop=1067, step=1),
 Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
        'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
        'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
        'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
       dtype='object')]

In [129]:
df.empty # Returns boolean - if empty, returns True. Otherwise, False

False

In [130]:
df['CYLINDERS'].empty

False

![](Capture43.png)

In [93]:
print(df['CYLINDERS'])
print(type(df['CYLINDERS']))

0       4
1       4
2       4
3       6
4       6
       ..
1062    6
1063    6
1064    6
1065    6
1066    6
Name: CYLINDERS, Length: 1067, dtype: int64
<class 'pandas.core.series.Series'>

In [91]:
df['CYLINDERS'][0:4] # Same as list slicing

0    4
1    4
2    4
3    6
Name: CYLINDERS, dtype: int64

In [92]:
df['CYLINDERS'][0:4:2]

0    4
2    4
Name: CYLINDERS, dtype: int64

In [97]:
df[['CYLINDERS','ENGINESIZE']]

      CYLINDERS  ENGINESIZE
0             4         2.0
1             4         2.4
2             4         1.5
3             6         3.5
4             6         3.5
...         ...         ...
1062          6         3.0
1063          6         3.2
1064          6         3.0
1065          6         3.2
1066          6         3.2

[1067 rows x 2 columns]

In [98]:
df[['CYLINDERS','ENGINESIZE']][0:5:2]

   CYLINDERS  ENGINESIZE
0          4         2.0
2          4         1.5
4          6         3.5

In [43]:
df.loc[:,['CYLINDERS','ENGINESIZE']] # df.loc[index(row), column]
# Same as df[['CYLINDERS','ENGINESIZE']]

      CYLINDERS  ENGINESIZE
0             4         2.0
1             4         2.4
2             4         1.5
3             6         3.5
4             6         3.5
...         ...         ...
1062          6         3.0
1063          6         3.2
1064          6         3.0
1065          6         3.2
1066          6         3.2

[1067 rows x 2 columns]

In [44]:
df.loc[0:5:2,['CYLINDERS','ENGINESIZE']] # df.loc[index(row), column]
# Same as df[['CYLINDERS','ENGINESIZE']][0:5:2]

   CYLINDERS  ENGINESIZE
0          4         2.0
2          4         1.5
4          6         3.5

In [45]:
df.iloc[0:5, 4:6] # iloc slice only specify index with numbers, Where loc() takes column names

   ENGINESIZE  CYLINDERS
0         2.0          4
1         2.4          4
2         1.5          4
3         3.5          6
4         3.5          6

In [48]:
df.ix[:4]

c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [51]:
df.ix[:4, ['CYLINDERS', 'ENGINESIZE']]

c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\softloft\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

   CYLINDERS  ENGINESIZE
0          4         2.0
1          4         2.4
2          4         1.5
3          6         3.5
4          6         3.5

In [107]:
#If we need to drop a particular column, then we can use pd.drop()
df.drop(columns='MODELYEAR')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [108]:
# To remove duplicate entries
df.drop_duplicates('MAKE')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
12,2014,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
19,2014,AUDI,A4,COMPACT,2.0,4,AV8,Z,9.9,7.4,8.8,32,202
68,2014,BENTLEY,CONTINENTAL GT,SUBCOMPACT,4.0,8,AS8,Z,15.4,9.8,12.9,22,297
76,2014,BMW,320i,COMPACT,2.0,4,A8,Z,10.0,6.5,8.4,34,193
140,2014,BUICK,ENCLAVE,SUV - STANDARD,3.6,6,A6,X,14.3,9.9,12.3,23,283
156,2014,CADILLAC,ATS,COMPACT,2.0,4,AS6,Z,11.3,7.5,9.6,29,221
188,2014,CHEVROLET,CAMARO,COMPACT,3.6,6,AS6,X,13.2,8.7,11.2,25,258
274,2014,CHRYSLER,300,FULL-SIZE,3.6,6,A8,X,12.4,7.7,10.3,27,237
293,2014,DODGE,AVENGER,MID-SIZE,2.4,4,A4,X,11.2,8.0,9.8,29,225
332,2014,FIAT,500 ABARTH CABRIO,MINICOMPACT,1.4,4,M5,X,8.5,6.9,7.8,36,179
342,2014,FORD,C-MAX HYBRID,FULL-SIZE,2.0,4,AV,X,5.6,6.4,6.0,47,138
432,2014,GMC,ACADIA,SUV - STANDARD,3.6,6,A6,X,14.3,9.9,12.3,23,283
481,2014,HONDA,ACCORD,MID-SIZE,2.4,4,AV,X,9.0,6.6,7.9,36,182
502,2014,HYUNDAI,ACCENT,COMPACT,1.6,4,A6,X,8.8,6.3,7.7,37,177
526,2014,INFINITI,Q50,MID-SIZE,3.7,6,AS7,Z,12.0,8.0,10.2,28,235
547,2014,JAGUAR,F-TYPE CONVERTIBLE,TWO-SEATER,3.0,6,AS8,Z,11.8,8.4,10.3,27,237
569,2014,JEEP,CHEROKEE,SUV - SMALL,2.4,4,A9,X,10.9,7.7,9.5,30,218
600,2014,KIA,CADENZA,FULL-SIZE,3.3,6,A6,X,12.7,8.8,10.9,26,251
633,2014,LAMBORGHINI,AVENTADOR COUPE,TWO-SEATER,6.5,12,A7,Z,22.8,12.9,18.3,15,421
636,2014,LAND ROVER,LR2,SUV - SMALL,2.0,4,AS6,Z,13.5,9.9,11.9,24,274
655,2014,LEXUS,CT 200h,COMPACT,1.8,4,AV,X,5.5,5.8,5.6,50,129
677,2014,LINCOLN,MKS AWD,FULL-SIZE,3.5,6,AS6,X,13.7,9.4,11.8,24,271
688,2014,MASERATI,GHIBLI,MID-SIZE,3.0,6,AS8,Z,15.2,9.6,12.7,22,292
694,2014,MAZDA,CX-5,SUV - SMALL,2.0,4,AS6,X,8.9,7.3,8.2,34,189
721,2014,MERCEDES-BENZ,B 250,STATION WAGON - SMALL,2.0,4,AS7,Z,9.2,6.6,8.0,35,184
780,2014,MINI,COOPER CLUBMAN,SUBCOMPACT,1.6,4,A6,Z,8.7,6.6,7.8,36,179
816,2014,MITSUBISHI,LANCER,COMPACT,2.0,4,AV6,X,9.2,7.0,8.2,34,189
832,2014,NISSAN,370Z,TWO-SEATER,3.7,6,AS7,Z,12.6,9.1,11.0,26,253
865,2014,PORSCHE,911 CARRERA,MINICOMPACT,3.4,6,AM7,Z,11.6,8.3,10.1,28,232
909,2014,RAM,1500 (MDS),PICKUP TRUCK - STANDARD,5.7,8,A6,X,17.1,12.0,14.8,19,340
922,2014,ROLLS-ROYCE,GHOST,FULL-SIZE,6.6,12,A8,Z,19.1,12.3,16.0,18,368
929,2014,SCION,FR-S,MINICOMPACT,2.0,4,AS6,Z,9.6,7.0,8.4,34,193
938,2014,SMART,FORTWO CABRIOLET,TWO-SEATER,1.0,3,AM5,Z,6.9,5.7,6.4,44,147
940,2014,SRT,VIPER COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,13.0,16.9,17,389
942,2014,SUBARU,BRZ,MINICOMPACT,2.0,4,AS6,Z,9.6,7.1,8.5,33,196
965,2014,TOYOTA,4RUNNER (Part-Time 4WD),SUV - STANDARD,4.0,6,AS5,X,14.3,11.1,12.9,22,297
1014,2014,VOLKSWAGEN,BEETLE,COMPACT,1.8,4,A6,X,9.5,7.2,8.5,33,196
1056,2014,VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,7.8,9.7,29,223

In [113]:
df.sort_values('MAKE')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,2014,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,9.5,11.5,25,264
1057,2014,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,8.3,10.1,28,232
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1060,2014,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,9.5,11.5,25,264
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [114]:
df.rename(columns={"MAKE": "CAR",})

,MODELYEAR,CAR,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [163]:
def adder(ele1,ele2):
   return ele1+ele2

def sub(ele1):
   return ele1-2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -1.151446  1.311653  0.658751
1  0.915174 -0.535276 -0.473269
2 -0.241818 -1.725480 -0.236401
3 -0.924394 -0.401607 -1.415281
4  1.667921  1.852712  0.625456

In [162]:
df.pipe(adder,2)

       col1      col2      col3
0  2.115381  3.974706  1.392404
1  1.996223  3.546267  2.136460
2  2.659772  0.066080  2.023233
3  1.587511  1.845624  0.891883
4  3.528214  3.784838  2.415904

In [164]:
df.apply(sub)

       col1      col2      col3
0 -3.151446 -0.688347 -1.341249
1 -1.084826 -2.535276 -2.473269
2 -2.241818 -3.725480 -2.236401
3 -2.924394 -2.401607 -3.415281
4 -0.332079 -0.147288 -1.374544

In [151]:
df.apply(np.std) # Same output is return from this call - df.std

col1    0.676409
col2    0.320635
col3    1.519422
dtype: float64

![](Capture44.png)

In [13]:
dictionary = {'one':1, 'two':2, 'three':3}
series = pd.Series(dictionary, )
print(series)

one      1
two      2
three    3
dtype: int64

In [14]:
for i in series:
    print(i)

1
2
3

In [33]:
dictionary = {'one':[1, 2, 3], 'two':[2, 4, 6], 'three':[3, 6, 9]}

df = pd.DataFrame(dictionary, index = ['value-1', 'value-2', 'value-3']) 

print(df)

print()

df['one'][0] = 0

print(df)

         one  two  three
value-1    1    2      3
value-2    2    4      6
value-3    3    6      9

         one  two  three
value-1    0    2      3
value-2    2    4      6
value-3    3    6      9

In [24]:
for i in df:
    print(i)

one
two
three

In [25]:
for key,value in df.iteritems():
    print(key)
    print(value)
    print()

one
value-1    1
value-2    2
value-3    3
Name: one, dtype: int64

two
value-1    2
value-2    4
value-3    6
Name: two, dtype: int64

three
value-1    3
value-2    6
value-3    9
Name: three, dtype: int64

In [27]:
for row_index,row in df.iterrows():
    print(row_index)
    print(row)
    print()

value-1
one      1
two      2
three    3
Name: value-1, dtype: int64

value-2
one      2
two      4
three    6
Name: value-2, dtype: int64

value-3
one      3
two      6
three    9
Name: value-3, dtype: int64

In [29]:
for row in df.itertuples():
    print(row)

Pandas(Index='value-1', one=1, two=2, three=3)
Pandas(Index='value-2', one=2, two=4, three=6)
Pandas(Index='value-3', one=3, two=6, three=9)

In [52]:
s = pd.Series([1,2,3,4,5,4])
s

0    1
1    2
2    3
3    4
4    5
5    4
dtype: int64

In [53]:
s.pct_change() # Shows the relation from one element to it's prior element

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64